body,
html {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none
}
body{
overflow-x:hidden;

}
.poo-container {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    font-size: 2em;
    left: 0px;
    top: 0px;
    text-align: center
}

.pile-of-poo {
    font-style: normal;
    color: #c9874d;
    display: block;
    position: relative;
    font-size: 1000%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    left: 0px;
    width: 100%;
}
.hero {
    display: none;
}

.statcounter{

    width:0px;
    height:0px;
    
    position:fixed;
    bottom:0px;
    right:0px;
}